## Erin Rumelhart - Strings

In [48]:
import numpy as np
import pandas as pd
import os

### Read in the datafile `MainBelt.csv`, write a function to compute the Diameters of the MBAs, write a function to compute the Masses of the MBAs.

In [49]:
cols = ["Name", "Abs Mag", "Geo Alb"]
mb_table = pd.read_csv('MainBelt.csv', skiprows = 9, names = cols) ## Reads table into pandas

ga = mb_table['Geo Alb']
am = mb_table['Abs Mag'] ## Establishing variable names for later computation

def diameter(ga, am):
    d_result = (1329 / np.sqrt(ga)) * (10**(-0.2*am))
    return d_result ## Function to compute diameter of the MBAs

mb_table['Diameter'] = diameter(ga, am) ## Adding a column to the table for the Diameter values

diam = diameter(ga, am) ## Establishing diameter as a variable

def mass(diam):
    m_result = (3000e9 * (1/6) * np.pi * diam**3)
    return m_result ## Function to compute mass of the MBAs

mb_table['Mass'] = mass(diam) ## Establishing mass as a variable

### List the names of the 5 most massive MBAs

In [50]:
mass_array = mb_table['Mass']
big_mass = mass_array > 5 * 10**19
big_mass_array = mb_table[big_mass]
big_mass_array_sorted = big_mass_array.sort_values(['Mass'], ascending=False) ## Sorting highest mass MBAs into a new array
big_mass_array_sorted.to_csv('big_mass_table.csv', index=False) ## Inserting sorted values into a new table data file
big_mass_table = pd.read_csv('big_mass_table.csv')

print("The 5 largest asteroids are (starting with the largest):")

for idx, val in enumerate(big_mass_table['Name']): ## Beginning of for loop to print values in a specified format
    
    mass_kg = big_mass_table['Mass'][idx]
        
    big_string = ("At number {0:d} is {1:s} with a mass of {2:.2g} kg").format(idx, val, mass_kg)
    
    print(big_string)

The 5 largest asteroids are (starting with the largest):
At number 0 is      1 Ceres with a mass of 1.4e+21 kg
At number 1 is      2 Pallas with a mass of 1.9e+20 kg
At number 2 is      4 Vesta with a mass of 1.6e+20 kg
At number 3 is     10 Hygiea with a mass of 1.1e+20 kg
At number 4 is    511 Davida (1903 LU) with a mass of 5.4e+19 kg

### List the names of the 5 least massive MBAs

In [51]:
small_mass = mass_array < 4 * 10**14
small_mass_array = mb_table[small_mass]
small_mass_array_sorted = small_mass_array.sort_values(['Mass'], ascending=True) ## Sorting lowest mass MBAs into a new array
small_mass_array_sorted.to_csv('small_mass_table.csv', index=False) ## Inserting sorted values into a new table data file
small_mass_table = pd.read_csv('small_mass_table.csv')

print("The 5 smallest asteroids are (starting with the smallest):")

for idx, val in enumerate(small_mass_table['Name']): ## Beginning of for loop to print values in a specified format
    
    mass_kg = small_mass_table['Mass'][idx]
        
    small_string = ("At number {0:d} is {1:s} with a mass of {2:.2g} kg").format(idx, val, mass_kg)
    
    print(small_string)

The 5 smallest asteroids are (starting with the smallest):
At number 0 is  26604 (2000 FO25) with a mass of 2.7e+14 kg
At number 1 is   4335 Verona (1983 VC7) with a mass of 3.2e+14 kg
At number 2 is   3338 Richter (1973 UX5) with a mass of 3.5e+14 kg
At number 3 is   4121 Carlin (1986 JH) with a mass of 3.8e+14 kg
At number 4 is   6295 Schmoll (1988 CF3) with a mass of 3.9e+14 kg

### Determine the total mass of all of the MBAs, the fraction of the total mass contained into the 5 largest MBAs, the total mass of the MBAs compared to the mass of the Moon, how many MBAs it takes to get 90% of the total mass.

In [52]:
total_mass = mass_array.sum() ## Establishing the total mass of the MBAs as a variable

big_mass_total = mb_table.sort_values(['Mass'], ascending=False)['Mass'][0:5].sum()
big_mass_percent = big_mass_total / total_mass ## Computing the percent of largest MBAs

moon_percent = ((7.35 * 10**22) / total_mass) ## The number of times the mass of the moon is greater than the total MBAs mass

ninety_percent_mass = (mb_table.sort_values(['Mass'], ascending=False)['Mass'].cumsum()) / total_mass
how_big = ninety_percent_mass <= 0.9
num_ninety_mass = ninety_percent_mass[how_big].size ## Computing 90% of the total mass

### The Summary Paragraph

In [53]:
summary_string = ("""The total mass of the main belt of the asteroid belt is {0:.2g} kg, of which {1:.2g}% of
the total mass in contained in the five most massive asteroids. In fact, the {2:.2g} largest
asteroids account for 90% of the total mass of the main belt. The Moon is {3:.2g}
times more
massive than the total mass of the main belt asteroids.""").format(total_mass, big_mass_percent, num_ninety_mass, moon_percent)

print(summary_string)

The total mass of the main belt of the asteroid belt is 3.1e+21 kg, of which 0.59% of
the total mass in contained in the five most massive asteroids. In fact, the 1.5e+02 largest
asteroids account for 90% of the total mass of the main belt. The Moon is 23
times more
massive than the total mass of the main belt asteroids.